# Trying out Bachdel Test

Check if everything works and if there is any updated databases to use.

Source: https://towardsdatascience.com/the-bechdel-test-analyzing-gender-disparity-in-hollywood-263cd4bcd9d

In [2]:
import urllib, json
import pandas as pd

In [3]:
df = pd.read_json('http://bechdeltest.com/api/v1/getAllMovies')
df.head()

     id    imdbid  year  rating                       title
0  9602   3155794  1874       0            Passage de Venus
1  9804  14495706  1877       0           La Rosace Magique
2  9603   2221420  1878       0  Sallie Gardner at a Gallop
3  9806  12592084  1878       0           Le singe musicien
4  9816   7816420  1881       0     Athlete Swinging a Pick

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9314 entries, 0 to 9313
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      9314 non-null   int64
 1   imdbid  9314 non-null   object
 2   year    9314 non-null   int64
 3   rating  9314 non-null   int64
 4   title   9314 non-null   object
dtypes: int64(3), object(2)
memory usage: 364.0+ KB

In [5]:
# df.to_csv('Bechdel.csv')

In [6]:
# According to the list here:
# https://en.wikipedia.org/wiki/List_of_Marvel_Cinematic_Universe_films

mcu_index = [5211, 
              5217, 
              5822, 
              6192, 
              6217, 
              6561, 
              6920,
              7053, 
              7341, 
              7403, 
              7718, 
              7771, 
              8055, 
              8144, 
              8383, 
              8404,
              8464,
              8634,  
              8653, 
              # 8658, 
              8660, 
              8887, 
              8896, 
              8923, 
              9266, 
              9276]
# print(sorted(list(set(mcu_index))))
mcu = df.iloc[sorted(list(set(mcu_index)))]
mcu

         id   imdbid  year  rating                                      title
6920   4090  1300854  2013       3                                 Iron Man 3
7053   4756  1981115  2013       3                       Thor: The Dark World
8464   7875  3501632  2017       1                             Thor: Ragnarok
6561   3205  0848228  2012       1                              Avengers, The
7718   6217  2395427  2015       3                    Avengers: Age of Ultron
7341   5351  1843866  2014       3        Captain America: The Winter Soldier
6192   2252  0800369  2011       3                                       Thor
9266   9953  3480822  2021       3                                Black Widow
8887   8668  4154664  2019       3                             Captain Marvel
8634   8058  1825683  2018       3                              Black Panther
9276  10037  9376612  2021       3  Shang-Chi and the legend of the ten rings
5822    797  1228705  2010       3                                 Iron Man 2
8383   7595  3896198  2017       3             Guardians of the Galaxy Vol. 2
8896   8720  4154796  2019       3                          Avengers: Endgame
6217   2567  0458339  2011       1         Captain America: The First Avenger
8653   8178  4154756  2018       3                     Avengers: Infinity War
8144   7225  1211837  2016       1                             Doctor Strange
8404   7724  2250912  2017       3                     Spider-Man: Homecoming
8660   8318  5095030  2018       3                       Ant-Man and the Wasp
7771   6359  0478970  2015       2                                    Ant-Man
5211    190  0371746  2008       2                                   Iron Man
8923   8781  6320628  2019       1                  Spider-Man: Far from Home
5217    195  0800080  2008       1                       Incredible Hulk, The
7403   5671  2015381  2014       3                    Guardians of the Galaxy
8055   6857  3498820  2016       3                 Captain America: Civil War

In [7]:
len(mcu) == 25

True

In [13]:

dceu_index = [8729, 
              8891, 
              9187, 
              9296,
              6952, 
              8046,
              8104,
              8354,
              9187,
              8476,
              8729,
              9116,
              9250]
# print(sorted(list(set(dceu_index))))
dceu = df.iloc[sorted(list(set(dceu_index)))]
dceu

         id    imdbid  year  rating                               title
6952   4238   0770828  2013       3                        Man of Steel
8046   6788   2975590  2016       2  Batman v Superman: Dawn of Justice
8104   7023   1386697  2016       3                       Suicide Squad
8354   7241   0451279  2017       3                        Wonder Woman
8476   7906   0974015  2017       3                      Justice League
8729   8522   1477834  2018       3                             Aquaman
8891   8693   0448115  2019       3                             Shazam!
9116   9008   7713068  2020       3                       Birds of Prey
9187   9405   7126948  2020       3                   Wonder Woman 1984
9250   9575  12361974  2021       3    Zack Snyder&#39;s Justice League
9296  10004   6334354  2021       3                  Suicide Squad, The

In [15]:
len(dceu) == 11

True